body{
    background-color: rgb(237, 212, 179);

}

.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    margin: auto;
    margin-top: 10%;
    border: 2px solid rgb(95, 34, 34);
    border-radius: 50%;
    align-items: center;
    height: 300px;
}

h1{
    margin-top: 40px;
    color: blue;
}

span{
    margin-top: 10px;
    color: crimson;
    font-size: 20px;
    line-height: 30px;
}